<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_1U_TecVII_GA1_LOGIN_1.My.MySettings.CONEXION" connectionString="Data Source=DESKTOP-LN69EF3\SQLEXPRESS;Initial Catalog=LOGIN1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_1U_TecVII_GA1_LOGIN_1.My.MySettings.CONEC" connectionString="False"
            providerName="" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>